.App {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    max-height: none !important;
    display: flex;
    flex-direction: column;
}

/* ScrollBar CSS */

::-webkit-scrollbar-track {
    background-color: var(--bg-secondary);
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: var(--bg-primary);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-secondary);
}

/* Loader */

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    animation: dot-keyframes 1.4s infinite;
}

.dot:nth-child(1) {
    animation-delay: 0.2s;
}

.dot:nth-child(2) {
    animation-delay: 0.4s;
}

.dot:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes dot-keyframes {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}